
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-background: ;
  --main-text: ;
  --seconddary-text: ;
  --main-color: ;
  --secondary-color: #e53637;
}

body {
    font-family: 'Poppins', sans-serif;
}

